# Import Libraries

In [2]:
import requests
from bs4 import BeautifulSoup

# Send a HTTP request to get the HTML Content

In [8]:
url = requests.get('https://www.imdb.com/chart/top/',headers = {"User-Agent": "Mozilla/5.0"})
print(url)

<Response [200]>

# Parsing the HTML Content to BS4 For Data Extraction

In [9]:
soup = BeautifulSoup(url.text,"html.parser")

# Analyze which data we need to extract from the html content by using its elements

In [10]:
data = soup.find('script',id='__NEXT_DATA__')

# Convert Data From Json String to Python Dictionary

In [11]:
data = str(data.text)
data = data.replace('false','False')
data = data.replace('true','True')
data = data.replace('null','None')
print(type(data))
data = eval(data)

<class 'str'>

In [12]:
data_fetched = data['props']['pageProps']['pageData']['chartTitles']['edges']

In [14]:
movie_name = data_fetched[0]['node']['titleText']['text']
movie_name

'The Shawshank Redemption'

In [15]:
year = data_fetched[0]['node']['releaseYear']['year']
year

1994

In [16]:
ratings = data_fetched[0]['node']['ratingsSummary']['aggregateRating']
ratings

9.3

In [18]:
l1=[]
l2=[]
l3=[]
for i in range(len(data_fetched)):
    movie_name = data_fetched[i]['node']['titleText']['text']
    year = data_fetched[i]['node']['releaseYear']['year']
    rating = data_fetched[i]['node']['ratingsSummary']['aggregateRating']
    l1.append(movie_name)
    l2.append(year)
    l3.append(rating)
print("*"*100)
print("Movie Name is",l1)
print("*"*100)
print("Year is",l2)
print("*"*100)
print("Rating is",l3)
print("*"*100)

****************************************************************************************************
Movie Name is ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Godfather: Part II', '12 Angry Men', 'The Lord of the Rings: The Return of the King', "Schindler's List", 'Pulp Fiction', 'The Lord of the Rings: The Fellowship of the Ring', 'Il Buono, Il Brutto, Il Cattivo', 'Forrest Gump', 'The Lord of the Rings: The Two Towers', 'Fight Club', 'Inception', 'Star Wars: Episode V - The Empire Strikes Back', 'The Matrix', 'GoodFellas', "One Flew Over the Cuckoo's Nest", 'Interstellar', 'Se7en', "It's a Wonderful Life", 'Shichinin No Samurai', 'The Silence of the Lambs', 'Saving Private Ryan', 'City of God', 'Life Is Beautiful', 'The Green Mile', 'Terminator 2: Judgment Day', 'Star Wars: Episode IV - A New Hope', 'Back to the Future', 'Spirited Away', 'The Pianist', 'Parasite', 'Psycho', 'Gladiator', 'The Lion King', 'Spider-man: Across the Spider-verse', 'The Departed', 'Whiplash', 'Grave of the Fireflies', 'American History X', 'Léon', 'The Prestige', 'Seppuku', 'The Usual Suspects', 'Casablanca', 'Dune: Part Two', 'Intouchables', 'Cinema Paradiso', 'Modern Times', 'Alien', 'Rear Window', "C'era Una Volta Il West", 'Django Unchained', 'City Lights', 'Apocalypse Now', 'Memento', 'WALL·E', 'Raiders of the Lost Ark', '12th Fail', 'Das Leben der Anderen', 'Sunset Blvd.', 'Avengers: Infinity War', 'Paths of Glory', 'Spider-Man: Into the Spider-Verse', 'Witness for the Prosecution', 'The Shining', 'The Great Dictator', 'Alien 2', 'Inglourious Basterds', 'The Dark Knight Rises', 'Coco', 'Amadeus', 'Toy Story', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Oldeuboi', 'American Beauty', 'Avengers: Endgame', 'Das Boot', 'Braveheart', 'Good Will Hunting', 'Mononoke-hime', 'Kimi No Na Wa.', 'Joker', 'Tengoku to Jigoku', '3 Idiots', 'Once Upon a Time in America', "Singin' in the Rain", 'Capharnaüm', 'Idi I Smotri', 'Requiem for a Dream', 'Toy Story 3', 'Star Wars: Episode VI - Return of the Jedi', 'Jagten', 'Eternal Sunshine of the Spotless Mind', '2001: A Space Odyssey', 'Ikiru', 'Reservoir Dogs', 'Lawrence of Arabia', 'The Apartment', 'Incendies', 'Scarface', 'North by Northwest', 'Citizen Kane', 'Double Indemnity', 'Oppenheimer', 'M - Eine Stadt sucht einen Mörder', 'Vertigo', 'Heat', 'Full Metal Jacket', "Le fabuleux destin d'Amélie Poulain", 'Up', 'A Clockwork Orange', 'To Kill a Mockingbird', 'Jodaeiye Nader Az Simin', 'The Sting', 'Die Hard', 'Indiana Jones and the Last Crusade', 'Taare Zameen Par', 'Metropolis', 'Snatch', '1917', 'L.A. Confidential', 'Ladri Di Biciclette', 'Der Untergang', 'Hamilton', 'Taxi Driver', 'Dangal', 'Batman Begins', 'The Wolf of Wall Street', 'Per qualche dollaro in più', 'Green Book', 'Some Like It Hot', 'The Truman Show', 'Judgment at Nuremberg', 'The Kid', 'The Father', 'All About Eve', 'Shutter Island', 'There Will Be Blood', 'Jurassic Park', 'Casino', 'Top Gun: Maverick', 'Ran', 'The Sixth Sense', 'El Laberinto Del Fauno', 'Unforgiven', 'No Country for Old Men', 'The Thing', 'A Beautiful Mind', 'Kill Bill: Vol. 1', 'The Treasure of the Sierra Madre', 'Yojimbo', 'The Great Escape', 'Finding Nemo', 'Monty Python and the Holy Grail', 'Prisoners', "Howl's Moving Castle", 'The Elephant Man', 'Rashōmon', 'Dial M for Murder', 'Chinatown', 'Gone with the Wind', 'El Secreto De Sus Ojos', 'Lock, Stock and Two Smoking Barrels', 'Inside Out', 'V for Vendetta', 'Three Billboards Outside Ebbing, Missouri', 'Raging Bull', 'Trainspotting', 'The Bridge on the River Kwai', 'Klaus', 'Catch Me If You Can', 'Fargo', 'Warrior', 'Spider-Man: No Way Home', 'Gran Torino', 'Harry Potter and the Deathly Hallows: Part 2', 'Million Dollar Baby', 'My Neighbour Totoro', 'Mad Max: Fury Road', 'Bacheha-Ye Aseman', 'Ben-Hur', '12 Years a Slave', 'Barry Lyndon', 'Before Sunrise', 'Blade Runner', 'The Grand Budapest Hotel', 'Hacksaw Ridge', 'Gone Girl', 'Dead Poets Society', 'Maharaja', 'Salinui Chueok', 'In the Name of the Father', 'The Gold Rush', 'Monsters, Inc.', 'Relatos Salvajes', 'The Deer Hunter', 'Ratatouille', 'Sherlock Jr.', 'The General', 'Jaws', 'How to Train Your Dragon', 'On the Waterfront', 'Mary and Max', 'Le Salaire De La Peur', 'Ford v. Ferrari', 'Smultronstället', 'Mr. Smith Goes to Washington', 'The Third Man', 'Logan', 'Rocky', 'Tokyo Story', 'The Big Lebowski', 'Det Sjunde Inseglet', 'Room', 'Spotlight', 'The Terminator', 'Hotel Rwanda', 'Platoon', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'La haine', 'Before Sunset', "La passion de Jeanne d'Arc", 'Jai Bhim', 'The Best Years of Our Lives', 'The Exorcist', 'Rush', 'The Incredibles', 'Network', 'The Wizard of Oz', 'Stand by Me', "Hachi: A Dog's Tale", 'The Sound of Music', 'My Father and My Son', 'Ah-ga-ssi', 'To Be or Not to Be', 'Into the Wild', 'La battaglia di Algeri', 'The Iron Giant', 'Groundhog Day', 'The Grapes of Wrath', 'Amores perros', 'Rebecca', 'The Help', 'Cool Hand Luke', 'It Happened One Night', 'Gangs of Wasseypur', 'Drishyam', 'Paris, Texas']
****************************************************************************************************
Year is [1994, 1972, 2008, 1974, 1957, 2003, 1993, 1994, 2001, 1966, 1994, 2002, 1999, 2010, 1980, 1999, 1990, 1975, 2014, 1995, 1946, 1954, 1991, 1998, 2002, 1997, 1999, 1991, 1977, 1985, 2001, 2002, 2019, 1960, 2000, 1994, 2023, 2006, 2014, 1988, 1998, 1994, 2006, 1962, 1995, 1942, 2024, 2011, 1988, 1936, 1979, 1954, 1968, 2012, 1931, 1979, 2000, 2008, 1981, 2023, 2006, 1950, 2018, 1957, 2018, 1957, 1980, 1940, 1986, 2009, 2012, 2017, 1984, 1995, 1964, 2003, 1999, 2019, 1981, 1995, 1997, 1997, 2016, 2019, 1963, 2009, 1984, 1952, 2018, 1985, 2000, 2010, 1983, 2012, 2004, 1968, 1952, 1992, 1962, 1960, 2010, 1983, 1959, 1941, 1944, 2023, 1931, 1958, 1995, 1987, 2001, 2009, 1971, 1962, 2011, 1973, 1988, 1989, 2007, 1927, 2000, 2019, 1997, 1948, 2004, 2020, 1976, 2016, 2005, 2013, 1965, 2018, 1959, 1998, 1961, 1921, 2020, 1950, 2010, 2007, 1993, 1995, 2022, 1985, 1999, 2006, 1992, 2007, 1982, 2001, 2003, 1948, 1961, 1963, 2003, 1975, 2013, 2004, 1980, 1950, 1954, 1974, 1939, 2009, 1998, 2015, 2005, 2017, 1980, 1996, 1957, 2019, 2002, 1996, 2011, 2021, 2008, 2011, 2004, 1988, 2015, 1997, 1959, 2013, 1975, 1995, 1982, 2014, 2016, 2014, 1989, 2024, 2003, 1993, 1925, 2001, 2014, 1978, 2007, 1924, 1926, 1975, 2010, 1954, 2009, 1953, 2019, 1957, 1939, 1949, 2017, 1976, 1953, 1998, 1957, 2015, 2015, 1984, 2004, 1986, 2003, 1995, 2004, 1928, 2021, 1946, 1973, 2013, 2004, 1976, 1939, 1986, 2009, 1965, 2005, 2016, 1942, 2007, 1966, 1999, 1993, 1940, 2000, 1940, 2011, 1967, 1934, 2012, 2015, 1984]
****************************************************************************************************
Rating is [9.3, 9.2, 9, 9, 9, 9, 9, 8.9, 8.9, 8.8, 8.8, 8.8, 8.8, 8.8, 8.7, 8.7, 8.7, 8.7, 8.7, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.6, 8.5, 8.6, 8.5, 8.5, 8.5, 8.5, 8.5, 8.6, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.6, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.4, 8.4, 8.4, 8.4, 8.8, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.4, 8.3, 8.3, 8.3, 8.3, 8.4, 8.4, 8.3, 8.3, 8.3, 8.4, 8.4, 8.4, 8.4, 8.3, 8.3, 8.4, 8.4, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.3, 8.2, 8.3, 8.3, 8.2, 8.3, 8.3, 8.3, 8.2, 8.2, 8.3, 8.3, 8.2, 8.2, 8.2, 8.3, 8.2, 8.3, 8.2, 8.3, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.3, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.2, 8.1, 8.2, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.5, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.7, 8.1, 8.1, 8.1, 8, 8.1, 8.1, 8.1, 8.1, 8.1, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8, 8.1, 8, 8.1, 8.1, 8.1, 8.1, 8.2, 8.2, 8.1]
****************************************************************************************************

In [19]:
import pandas as pd
d = {"movie name":l1,"year":l2,"ratings":l3}
df = pd.DataFrame(d)
df

                   movie name  year  ratings
0    The Shawshank Redemption  1994      9.3
1               The Godfather  1972      9.2
2             The Dark Knight  2008      9.0
3      The Godfather: Part II  1974      9.0
4                12 Angry Men  1957      9.0
..                        ...   ...      ...
245            Cool Hand Luke  1967      8.1
246     It Happened One Night  1934      8.1
247        Gangs of Wasseypur  2012      8.2
248                  Drishyam  2015      8.2
249              Paris, Texas  1984      8.1

[250 rows x 3 columns]

In [23]:
import requests
from bs4 import BeautifulSoup

# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

# Send a GET request to the URL
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table on the page
table = soup.find('table', {'class': 'wikitable'})

# Extract state names and populations using list comprehensions
states = [row.find_all('td')[1].get_text(strip=True) for row in table.find_all('tr')[1:] if len(row.find_all('td')) > 1]
populations = [row.find_all('td')[2].get_text(strip=True) for row in table.find_all('tr')[1:] if len(row.find_all('td')) > 1]

# Print results
for state, population in zip(states, populations):
    print(f"{state}: {population}")

Montgomery: Huntsville
Juneau: Anchorage
Phoenix: Feb 14, 1912
Little Rock: Jun 15, 1836
Sacramento: Los Angeles
Denver: Aug 1, 1876
Hartford: Bridgeport
Dover: Wilmington
Tallahassee: Jacksonville
Atlanta: Jan 2, 1788
Honolulu: Aug 21, 1959
Boise: Jul 3, 1890
Springfield: Chicago
Indianapolis: Dec 11, 1816
Des Moines: Dec 28, 1846
Topeka: Wichita
Frankfort: Louisville
Baton Rouge: New Orleans
Augusta: Portland
Annapolis: Baltimore
Boston: Feb 6, 1788
Lansing: Detroit
Saint Paul: Minneapolis
Jackson: Dec 10, 1817
Jefferson City: Kansas City
Helena: Billings
Lincoln: Omaha
Carson City: Las Vegas
Concord: Manchester
Trenton: Newark
Santa Fe: Albuquerque
Albany: New York City
Raleigh: Charlotte
Bismarck: Fargo
Columbus: Mar 1, 1803
Oklahoma City: Nov 16, 1907
Salem: Portland
Harrisburg: Philadelphia
Providence: May 29, 1790
Columbia: Charleston
Pierre: Sioux Falls
Nashville: Jun 1, 1796
Austin: Houston
Salt Lake City: Jan 4, 1896
Montpelier: Burlington
Richmond: Virginia Beach
Olympia: Seattle
Charleston: Jun 20, 1863
Madison: Milwaukee
Cheyenne: Jul 10, 1890